<%- include('./partials/header') %>
<h3>This is the Heroic Tracker.</h3>
<h3>Feel free to browse the list of servants and reviews.</h3>
<h3>If you log in, you can also leave reviews and ratings!</h3>
<h3>It also allows you to track which Servants you have summoned.</h3>
<%- include('./partials/footer') %>